.chat {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: #34373c;
  position: relative;
  height: 100vh;

  .chatMessages {
    // flex-grow: 1;
    height: 100vh;
    overflow-y: scroll;
  }

  .chatInput {
    color: lightgray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: #474b53;
    border-radius: 5px;
    margin: 20px;

    form {
      flex-grow: 1;
      input {
        padding: 15px;
        background: transparent;
        border: none;
        outline: 0;
        color: white;
        font-size: large;
        width: 100%;
      }
      .chatInputButton {
        display: none;
      }
    }

    .chatInputIcons {
      .MuiSvgIcon-root {
        padding: 5px;
      }
    }
  }
}
